/* Font - Roboto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Univsersal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* This means that the default font-size becomes 10px */
/* This helps with the rem and everything */
html {
  font-size: 62.5%;
}

body {
  color: #343a40;
  background-color: #f1f1f1;
  height: 100vh;
}

/* Reusable Flexbox */
.flex {
  display: flex;
  align-items: center;
}

/* NAVBAR */

.header {
  padding: 1.6rem 3.2rem;
  margin-bottom: 4rem;
}

.navbar {
  justify-content: space-between;
}

.greeting {
  font-size: 2rem;
  font-weight: 500;
}

.logo {
  height: 6rem;
}

.credentials {
  gap: 0.8rem;
}

.input-area {
  width: 10rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5rem;
  text-align: center;
}

.btn {
  background: none;
  font-size: 2.2rem;
  height: inherit;
  border: none;
  cursor: pointer;
  transition: all 100ms ease;
}
/* BANK DETAILS SECTION */

.bank-details {
  max-width: 100rem;
  margin: 0 auto;

  /* Code for grid */
  display: grid;
  grid-template-rows: auto repeat(3, 15rem) auto;
  grid-template-columns: 1fr auto;
  gap: 2.4rem;
  opacity: 0;

  transition: 1s all;
}

.balance-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 3.2rem; */
  grid-row: 1;
  grid-column: 1/3;
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.date-time {
  color: #868e96;
  font-size: 1.2rem;
}

.balance {
  font-size: 4.8rem;
}

/* TRANSACTIONS */
/* -------------------------------------------- */

.transaction-action {
  /* 
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, 1fr); 
  */
  overflow-y: scroll;
  grid-row: 2 / span 3;
  /* border-radius: 2rem; */
}

/* TRANSACTIONS MOVEMENTS*/
/* ---------------------- */

.overflow-div {
  height: 100%;
  background-color: #fff;
  border-radius: 2rem;
  /* overflow: hidden; */
  /* grid-column: 2; */
}

/* .overflow-div::-webkit-scrollbar {
  display: none;
} */

.transaction-action::-webkit-scrollbar {
  display: none;
}

.transaction-action {
  background-color: #fff;
  border-radius: 2rem;
}

/* .transactions {
  background-color: #fff;
  border-radius: 2rem;
} */

.transaction-item {
  padding: 1.6rem 4.8rem;
  justify-content: space-between;
  border-bottom: 0.2rem solid #f1f1f1;
}

.transaction--details {
  flex-direction: column;
  gap: 0.8rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.transaction--type {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.4rem 1.2rem;
  border-radius: 1.6rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

.type-credit {
  background: linear-gradient(
    to left top,
    #2b8a3e,
    #3b9e4d,
    #4ab25c,
    #5ac66c,
    #69db7c
  );
}

.type-debit {
  background: linear-gradient(
    to left top,
    #c92a2a,
    #d84441,
    #e65b58,
    #f37170,
    #ff8787
  );
}

.transaction--date {
  font-size: 1.2rem;
}

.transaction--amount {
  font-size: 2rem;
}

/* ---------------------- */

/* ACTIONS */
/* ---------------------- */

.action {
  grid-column: 2/3;
  background-color: #868e96;
  padding: 3.2rem 4rem;
  border-radius: 2rem;
  width: 100%;
}

.action--transfer {
  background-image: linear-gradient(
    to left top,
    #f59f00,
    #f8ac12,
    #fbba20,
    #fdc72e,
    #ffd43b
  );
}

.action-heading {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 2.5fr) 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.action--input {
  text-align: center;
  grid-row: 1;
}

.label {
  font-size: 1.2rem;
  /* font-weight: 500; */
  justify-self: center;
}

.input--box {
  grid-row: 1;
  background-color: rgba(255, 255, 255, 0.5);
  width: 14rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
  border: none;
}

.btn-action {
  grid-row: 1;
  grid-column: 3;
  background-color: #fff;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  padding: 0.2rem 0.8rem;
  cursor: pointer;
  border: none;
}

.action--loan {
  background-image: linear-gradient(
    to left top,
    #2b8a3e,
    #3b9e4d,
    #4ab25c,
    #5ac66c,
    #69db7c
  );
}

.action--loan .input-container {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.action--loan .label {
  grid-row: 2;
}

.action--loan .btn-action {
  grid-column: 2/3;
}

.action--close {
  background-image: linear-gradient(
    to left top,
    #c92a2a,
    #d84441,
    #e65b58,
    #f37170,
    #ff8787
  );
}

.btn-action:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.stat,
.time {
  font-size: 1.4rem;
}

.stats {
  /* gap: 1.6rem; */
  justify-content: space-between;
}

.stat {
  /* letter-spacing: -0.05rem; */
  text-transform: uppercase;
  /* font-weight: 400; */
}

.amt {
  display: inline-block;
  font-size: 2.4rem;

  margin-left: 0.8rem;
}

.in-amt {
  color: #40c057;
}

.out-amt {
  color: #f03e3e;
}

.int-amt {
  color: #40c057;
}

.sort {
  cursor: pointer;
}

.time {
  align-self: center;
  justify-self: flex-end;
}

.time-left {
  font-weight: 600;
}
