/* Font - Roboto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Univsersal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* This means that the default font-size becomes 10px */
/* This helps with the rem and everything */
html {
  font-size: 62.5%;
}

body {
  color: #343a40;
  background-color: #f1f1f1;
  height: 100vh;
}

/* Reusable Flexbox */
.flex {
  display: flex;
  align-items: center;
}

/* NAVBAR */

.header {
  padding: 1.6rem 3.2rem;
  margin-bottom: 6.4rem;
}

.navbar {
  justify-content: space-between;
}

.greeting {
  font-size: 2rem;
  font-weight: 500;
}

.logo {
  height: 6rem;
}

.credentials {
  gap: 0.8rem;
}

.input-area {
  width: 10rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5rem;
  text-align: center;
}

.btn-login {
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  cursor: pointer;
}

/* BANK DETAILS SECTION */

.bank-details {
  max-width: 100rem;
  margin: 0 auto;
}

.balance-info {
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.date-time {
  color: #868e96;
  font-size: 1.2rem;
}

.balance {
  font-size: 4.8rem;
}

/* TRANSACTIONS */
/* -------------------------------------------- */

.transaction-action {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, 1fr);
}

/* TRANSACTIONS MOVEMENTS*/
/* ---------------------- */

.overflow-div {
  background-color: #fff;
  border-radius: 2rem;
  overflow-y: scroll;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.overflow-div::-webkit-scrollbar {
  display: none;
}

.transactions {
  background-color: #fff;
  border-radius: 2rem;
}

.transaction-item {
  padding: 2.4rem 4.8rem;
  justify-content: space-between;
  border-bottom: 0.2rem solid #f1f1f1;
}

.transaction--details {
  flex-direction: column;
  gap: 0.8rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.transaction--type {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.4rem 1.2rem;
  border-radius: 1.6rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

.type-credit {
  background: linear-gradient(
    to left top,
    #2b8a3e,
    #3b9e4d,
    #4ab25c,
    #5ac66c,
    #69db7c
  );
}

.type-debit {
  background: linear-gradient(
    to left top,
    #c92a2a,
    #d84441,
    #e65b58,
    #f37170,
    #ff8787
  );
}

.transaction--date {
  font-size: 1.2rem;
}

.transaction--amount {
  font-size: 2.4rem;
}
/* ---------------------- */

.action {
  grid-column: 2;
}
